label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

input {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 22px;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: $border-radius;
}

select {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 22px;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: $border-radius;
	&.multiple {
		height: 100%;
	}
}

textarea {
	display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: $border-radius;
}

.form-group {
	margin-bottom: 15px;
}

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid darken($default, 10%);
    border-radius: $border-radius;
	color: $white;
    background: $default;
	&:hover {
		background-color: darken($default, 10%);
	}
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-left {
	width: calc(50% - 10px);
	float: left;
}
.btn-right {
	width: calc(50% - 10px);
	float: right;
}

.btn-primary {
	background-color: $primary;
	border-color: darken($primary, 10%);
	&:hover {
		background-color: darken($primary, 10%);
	}
}
.btn-success {
	background-color: $success;
	border-color: darken($success, 10%);
	&:hover {
		background-color: darken($success, 10%);
	}
}
.btn-info {
	background-color: $info;
	border-color: darken($info, 10%);
	&:hover {
		background-color: darken($info, 10%);
	}
}
.btn-warning {
	background-color: $warning;
	border-color: darken($warning, 10%);
	&:hover {
		background-color: darken($warning, 10%);
	}
}
.btn-danger {
	background: $danger;
	border-color: darken($danger, 10%);
	&:hover {
		background-color: darken($danger, 10%);
	}
}
