body {
	margin: 0;
	background: $background-color;
	width: 100vw;
	height: 100vh;
}

.logo {
	margin: auto;
	padding: 30px;
}

.fullscreen {
	text-align: center;
	span {
		cursor: pointer;
		display: inline-block;
		padding: 20px;
	}
}
