table {
	width: 100%;
}

thead {
	border-bottom: 1px solid #fff;
}

.table-striped tbody tr {
	&:nth-of-type(odd) {
		background: lighten(#000, 5%);
	}
}

tbody.table-hover tr, .table-hover tr {
	cursor: pointer;
	&:hover {
		background: lighten(#000, 20%);
	}
}

th {
	text-align: left;
	padding: 8px;
	border-bottom: 2px solid #333
}

td {
	padding: 5px;
	line-height: 20px;
	vertical-align: top;
	border-top: 1px solid #333;
}
