html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $white;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1 {
	font-size:48px;
	margin-bottom:.3em;
	text-transform:uppercase;
}
h2 {
	font-size:34px;
	margin-bottom:.3em;
	text-transform:uppercase;
}
h3 {
	font-size:28px;
	margin-bottom:.4em;
}
h4 {
	font-size:24px;
	margin-bottom:.1em;
}
h5 {
	font-size:20px;
	margin-bottom:.5em;
}
h6 {
	font-size:18px;
}

p {
	font-size:13px;
	margin-bottom:1.5em;
}

a {
	color: $white;
	decoration: none;
	&:hover {
		color: darken($white, 15%);
		decoration: underline;
	}
}
