.admin {
	max-width: 1080px;
	margin: 10px auto;
	padding: 20px;
	.navbar {
		float: left;
		width: 180px;
		font-size: 16px;
		a {
			display: block;
			width: 100%;
			padding: 5px;
			&:hover {
				color: #900;
			}
		}
	}
	article {
		float: right;
		width: calc(100% - 220px);
	}

	.controls {
		display: flex;
		margin-bottom: 15px;
		.search {
			margin-right: 10px;
		}
		.new {
			margin-left: 10px;
		}
	}

	.song-edit {
		.distortions {
			h4 {
				margin: 0;
				line-height: 34px;
				float: left;
			}
			.add {
				margin: 0 10px;
				float: left;
			}
			.clearfix {
				height: 10px;
			}
			.form-group {
				float: left;
				&:nth-child(1) {
					width: calc(75% - 39px);
					margin-right: 10px;
				}
				&:nth-child(2) {
					width: calc(25% - 39px);
					margin: 0 10px;
				}
			}
			.fa-trash {
				float: right;
				margin-top: 18px;
				width: 38px;
			}
		}

		.intro {
			h4 {
				margin: 0;
				line-height: 34px;
				float: left;
			}
			.add, .remove {
				float: left;
				margin: 0 10px;
			}
			.clearfix {
				height: 10px;
			}
			.intro-container .form-group {
				&:nth-child(1) {
					width: calc(80% - 10px);
					float: left;
				}
				&:nth-child(2) {
					width: calc(20% - 10px);
					float: right;
				}
				&:nth-child(4) {
					width: calc(33.33333% - 13.333334px);
					float: left;
					margin-right: 10px;
				}
				&:nth-child(5) {
					width: calc(33.33333% - 13.333334px);
					float: left;
					margin: 0 10px;
				}
				&:nth-child(6) {
					width: calc(33.33333% - 13.333334px);
					float: right;
					margin-left: 10px;
				}
			}
		}
	}
}
